[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
whitenoise = "*"
pillow = "*"
django-cloudinary-storage = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "*"
