{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'app/images/moringa_logo.png' %}"
      type="image/x-icon"
    />
    {% block css %}
    <link rel="stylesheet" href="{% static 'app/css/index.css' %}" />
    {% endblock %}
    <!--  -->
    {% block title %}
    <title>Home</title>
    {% endblock %}
  </head>
  <body>
    <main>
      <header>
        <div class="left">
          <div class="logo">
            <div class="image">
              <a href="{% url 'app-home' %}">
                <img src="{% static 'app/images/logo.png' %}" alt="" />
              </a>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="links">
            <ul>
              <li>
                <a href="https://moringaschool.com/courses/" target="_blank"
                  >Courses</a
                >
              </li>
              <li>
                <a href="https://moringaschool.com/about-us/" target="_blank"
                  >About</a
                >
              </li>
              <li>
                <a href="https://moringaschool.com/blog/" target="_blank"
                  >Blog</a
                >
              </li>
              <li>
                <a href="{% url 'app-developers' %}">Our Developers</a>
              </li>
              {% if request.user.is_authenticated %}
              <li>
                <a href="{% url 'app-dashboard' %}">Dashboard</a>
              </li>
              {% endif %}
            </ul>
          </div>

          <div class="user">
            {% if request.user.is_authenticated %}
            <div class="info">
              {% if request.user.first_name and request.user.last_name %}
              <p>{{request.user.first_name}} {{request.user.last_name}}</p>
              {% else %}
              <p>{{request.user.username}}</p>
              {% endif %}
              <a href="{% url 'users-signout' %}">Sign Out</a>
            </div>
            <div class="avatar">
              <div class="image">
                <img src="{{request.user.profile.image.url}}" alt="usename" />
              </div>
            </div>
            {% else %}
            <div class="info">
              <p>( Graduates )</p>
              <p>
                <a href="{% url 'users-signin' %}">Sign In</a> /
                <a href="{% url 'users-signup' %}">Sign Up</a>
              </p>
            </div>
            {% endif %}
          </div>
        </div>
      </header>
      {% block content %}
      <section id="hero">
        <h1>Hire From The Most-Wanted Tech Talent Pool in The Market</h1>
        <h2>
          Our employment placement rate of 85%+ for all job-seeking alumni
          within 12 months of their graduation is a positive endorsement by the
          marketplace on the quality and career-readiness of the Software
          Developers and Data Scientists that we graduate. Talk to our career
          services department today and get your hiring needs met.
        </h2>
        <a href="{% url 'app-developers' %}">View Graduates</a>
      </section>
      <section id="ready">
        <div class="top">
          <h3 class="mini">industry-ready talent for your tech needs</h3>
          <h3 class="main">
            Cut the lead time of getting highly skilled Developers and Data
            Scientists
          </h3>
          <p>
            We understand that a learner is best served in their development
            through a Blended Learning approach. Allied to technical skill
            development, our students go through project-based work and critical
            life skill education applicable to real-world industry scenarios.
            Moringa School replaces on-the-job learning for junior specialists
            by ensuring they have the requisite technical and soft skills to
            perform exceptionally in work, entrepreneurship, or further
            education.
          </p>
        </div>
        <div class="bottom">
          <img
            src="{% static 'app/images/learning.jpg' %}"
            alt="students learning"
          />
          <img
            src="{% static 'app/images/learning2.jpg' %}"
            alt="students learning"
          />
          <img
            src="{% static 'app/images/learning3.jpg' %}"
            alt="students learning"
          />
        </div>
      </section>
      <section id="partners">
        <h3>These companies hire from us!</h3>
        <div class="logos">
          <img src="{% static 'app/images/safaricom.png' %}" alt="partner" />
          <img src="{% static 'app/images/sanlam.png' %}" alt="partner" />
          <img src="{% static 'app/images/adrian.png' %}" alt="partner" />
          <img src="{% static 'app/images/andela.png' %}" alt="partner" />
        </div>
      </section>
      <section id="alumni">
        <h3>
          The Moringa Alumni is The Most Attractive Profile for These Employers
        </h3>
        <div class="testimonial">
          <div class="left">
            <p>
              In a survey of major tech employers in East Africa, a CS degree
              combined with the Moringa Bootcamp is the most attractive profile
              for those recruiting junior developers and data scientists. This
              is because we maintain a strong and established connection with
              key industry figures who help in developing our curriculum in line
              with industry trends and the current demands of the African job
              market. We aim to ensure learners are best prepared for an
              ever-evolving industry with the right foundation to find long-term
              success in their chosen career pathway.
            </p>
          </div>
          <div class="right">
            <p>
              When you hire a Moringa graduate, you get an ambitious, passionate
              person with the willingness to grow. They are not scared to make
              mistakes, own up to them, and learn from them. Besides this, they
              do their work with a smile, for being a developer is a true
              calling for them. This makes them a good fit into our company
              culture.
            </p>
            <br />
            <p><strong>Lieke Aarninkhof, HR Manager</strong></p>

            <p><strong>Incentro Africa</strong></p>
          </div>
        </div>
      </section>
      {% endblock %}
      <footer>
        <p>
          &copy; Moringa School | All Rights Reserved<br />Developed by Samuel
          Martins
        </p>
      </footer>
    </main>
  </body>
</html>
