@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-size: 1vw;
}

body {
  width: 100%;
  height: 100%;
}
body main {
  width: 100%;
  height: 100%;
}
body main header {
  width: 100%;
  padding: 1% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main header .left {
  width: 20%;
}
body main header .left .image a {
  text-decoration: none;
}
body main header .left .image a img {
  width: 10vw;
}
body main header .right {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
body main header .right .links {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
body main header .right .links ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
body main header .right .links ul li {
  margin: 0 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main header .right .links ul li a {
  width: 100%;
  text-decoration: none;
  text-transform: capitalize;
  color: #101f3c;
  font-weight: 500;
  font-size: 1vw;
}
body main header .right .links ul li a:hover {
  color: #fa510f;
}
body main header .right .user {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25;
}
body main header .right .user .info {
  margin-right: 5%;
  text-align: right;
}
body main header .right .user .info p {
  text-transform: capitalize;
  color: #101f3c;
  font-size: 1vw;
}
body main header .right .user .info a {
  text-transform: capitalize;
  text-decoration: none;
  color: #fa510f;
}
body main header .right .user .info a:hover {
  color: #101f3c;
}
body main header .right .user .avatar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
body main header .right .user .avatar .image {
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  border: 0.2vw solid #101f3c;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}
body main header .right .user .avatar .image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
body main #hero {
  width: 100%;
  height: 35vw;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(16, 31, 60, 0.7529411765), rgba(16, 31, 60, 0.7529411765)), url("../images/hero.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main #hero h1 {
  width: 100%;
  text-align: center;
  font-weight: 700;
  color: #fff;
  font-size: 2.5vw;
  margin-bottom: 1%;
}
body main #hero h2 {
  text-align: center;
  width: 80%;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 400;
  margin-bottom: 2%;
}
body main #hero form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
body main #hero form input {
  width: 30%;
  padding: 1% 2%;
  outline: none;
  border: none;
  border-radius: 0.3vw;
  margin: 0 0.5%;
  color: #101f3c;
  font-size: 1vw;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
body main #hero form input[type=submit] {
  width: 10%;
  font-size: 1vw;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background-color: #fa510f;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
body main #developers {
  padding: 5% 10%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
body main #developers .card {
  width: 24%;
  border-radius: 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 3% 0;
}
body main #developers .card .info .image {
  margin-top: 10%;
  width: 15vw;
  height: 15vw;
  border-radius: 0.5vw;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0.2vw solid #4a566c;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
body main #developers .card .info .image img {
  height: 100%;
  width: 100%;
  border-radius: 0.3vw;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  outline: none;
  border: none;
}
body main #developers .card .info .name-title {
  margin-top: 5%;
  width: 100%;
  text-align: center;
  font-size: 1vw;
}
body main #developers .card .info .name-title a {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  text-decoration: none;
  text-transform: capitalize;
}
body main #developers .card .info .name-title a .username {
  color: #fa510f;
  font-weight: 500;
}
body main #developers .card .info .name-title a .usertitle {
  color: #101f3c;
}
body main #developers .card .info .socials {
  padding: 7% 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #developers .card .info .socials a {
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #developers .card .info .socials a svg {
  color: #101f3c;
  width: 1.5vw;
  margin: 0 5%;
}
body main #developers .card .info .socials a svg:hover {
  color: #fa510f;
}
body main #developers .card .cta {
  width: 100%;
  text-align: center;
}
body main #developers .card .cta a {
  padding: 2% 5%;
  text-decoration: none;
  color: #fa510f;
  border-radius: 0.3vw;
}
body main footer {
  width: 100%;
  text-align: center;
  padding: 2% 10%;
  background-color: #101f3c;
}
body main footer p {
  font-size: 1vw;
  color: #fff;
}/*# sourceMappingURL=developers.css.map */