@import "mixins";

body {
  width: 100%;
  height: 100%;

  //main styling
  main {
    width: 100%;
    height: 100%;

    // header styling
    header {
      width: 100%;
      padding: 1% 5%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        width: 20%;
        .image {
          a {
            text-decoration: none;
            img {
              width: 10vw;
            }
          }
        }
      }
      .right {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .links {
          width: 70%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          ul {
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: flex-end;
            li {
              margin: 0 2%;
              display: flex;
              align-items: center;
              justify-content: center;
              a {
                width: 100%;
                text-decoration: none;
                text-transform: capitalize;
                color: $moringa_navy;
                font-weight: 500;
                font-size: 1vw;
                &:hover {
                  color: $moringa_primary;
                }
              }
            }
          }
        }

        .user {
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 25;
          .info {
            margin-right: 5%;
            text-align: right;
            p {
              text-transform: capitalize;
              color: $moringa_navy;
              font-size: 1vw;
            }
            a {
              text-transform: capitalize;
              text-decoration: none;
              color: $moringa_primary;
              &:hover {
                color: $moringa_navy;
              }
            }
          }
          .avatar {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .image {
              width: 3.5vw;
              height: 3.5vw;
              border-radius: 50%;
              border: 0.2vw solid $moringa_navy;
              padding: 2%;
              display: flex;
              justify-content: center;
              align-items: center;
              object-fit: cover;
              img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }

    // hero styling
    #hero {
      width: 100%;
      height: 45vw;
      padding: 5% 10%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-image: linear-gradient(to bottom, #101f3ca6, #101f3ca6),
        url("../images/hero.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      h1 {
        width: 50%;
        font-weight: 700;
        color: #fff;
        font-size: 2.5vw;
        margin-bottom: 1%;
      }
      h2 {
        width: 50%;
        color: #fff;
        font-size: 1.2vw;
        font-weight: 400;
        margin-bottom: 2%;
      }
      a {
        color: #fff;
        text-decoration: none;
        text-transform: capitalize;
        padding: 1% 3%;
        background-color: $moringa_primary;
        border: 0.1vw solid $moringa_primary;
        border-radius: 0.5vw;
        transition: 0.3s ease-in-out;
        &:hover {
          background-color: transparent;
          transition: 0.3s ease-in-out;
        }
      }
    }

    // industry ready styling
    #ready {
      padding: 7% 10% 15% 10%;
      .top {
        margin-bottom: 3%;
        .mini {
          width: 100%;
          text-align: center;
          color: $moringa_primary;
          font-weight: 700;
          font-size: 1.5vw;
          text-transform: capitalize;
          margin-bottom: 1%;
        }
        .main {
          width: 100%;
          text-align: center;
          color: $moringa_navy;
          font-weight: 700;
          font-size: 1.5vw;
          text-transform: capitalize;
          margin-bottom: 2%;
        }
        p {
          font-size: 1vw;
          color: $moringa_navy;
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          width: 32%;
          border-radius: 0.3vw;
        }
      }
    }

    // partners
    #partners {
      width: 100%;
      padding: 5% 10% 10% 10%;
      background-color: $moringa_navy;
      h3 {
        width: 100%;
        text-align: center;
        font-size: 1.5vw;
        font-weight: 700;
        text-transform: capitalize;
        color: $moringa_primary;
        margin-bottom: 5%;
      }
      .logos {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          width: 10%;
        }
      }
    }

    // alumni
    #alumni {
      width: 100%;
      padding: 7% 10% 15% 10%;
      h3 {
        width: 100%;
        text-align: center;
        font-size: 1.5vw;
        font-weight: 700;
        text-transform: capitalize;
        color: $moringa_primary;
        margin-bottom: 5%;
      }
      .testimonial {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .left {
          width: 45%;
          p {
            font-size: 1vw;
            color: $moringa_navy;
          }
        }
        .right {
          width: 50%;
          border-left: 0.2vw solid $moringa_primary;
          padding-left: 3%;
        }
      }
    }

    //footer
    footer {
      width: 100%;
      text-align: center;
      padding: 2% 10%;
      background-color: $moringa_navy;
      p {
        font-size: 1vw;
        color: #fff;
      }
    }
  }
}
