@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-size: 1vw;
}

body {
  width: 100%;
  height: 100%;
}
body main {
  width: 100%;
  height: 100%;
}
body main header {
  width: 100%;
  padding: 1.5% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main header .left {
  width: 20%;
}
body main header .left .image a {
  text-decoration: none;
}
body main header .left .image a img {
  width: 12vw;
}
body main header .right {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
body main header .right .links {
  width: 30%;
  margin-right: 10%;
}
body main header .right .links ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
body main header .right .links ul li {
  margin: 0 5%;
}
body main header .right .links ul li a {
  width: 100%;
  text-decoration: none;
  text-transform: capitalize;
  color: #101f3c;
  font-weight: 500;
  font-size: 1vw;
}
body main header .right .links ul li a:hover {
  color: #fa510f;
}
body main header .right .search {
  width: 20%;
  margin-right: 10%;
}
body main header .right .search form {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main header .right .search form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: 0.1vw solid #101f3c;
  border-radius: 0.3vw 0 0 0.3vw;
  padding: 3%;
  border-width: 0.1vw 0 0.1vw 0.1vw;
  color: #101f3c;
  font-size: 0.9vw;
}
body main header .right .search form input[type=submit] {
  cursor: pointer;
  border-radius: 0 0.3vw 0.3vw 0;
  border-width: 0.1vw;
  font-size: 0.9vw;
  font-weight: 500;
  text-transform: capitalize;
  background-color: #101f3c;
  color: #fff;
  padding: 3% 10%;
}
body main header .right .search form input[type=submit]:hover {
  background-color: rgba(16, 31, 60, 0.8431372549);
}
body main header .right .user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25;
}
body main header .right .user .info {
  margin-right: 10%;
  text-align: right;
}
body main header .right .user .info p {
  text-transform: capitalize;
  color: #101f3c;
}
body main header .right .user .info a {
  text-transform: capitalize;
  text-decoration: none;
  color: #fa510f;
}
body main header .right .user .info a:hover {
  color: #101f3c;
}
body main header .right .user .avatar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
body main header .right .user .avatar .image {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  border: 0.2vw solid #101f3c;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}
body main header .right .user .avatar .image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
body main #hero {
  width: 100%;
  height: 40vw;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(16, 31, 60, 0.6509803922), rgba(16, 31, 60, 0.6509803922)), url("../images/hero.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main #hero h1 {
  width: 50%;
  font-weight: 700;
  color: #fff;
  font-size: 2.5vw;
  margin-bottom: 1%;
}
body main #hero h2 {
  width: 50%;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 400;
  margin-bottom: 2%;
}
body main #hero a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  padding: 1% 3%;
  background-color: #fa510f;
  border: 0.1vw solid #fa510f;
  border-radius: 0.5vw;
  transition: 0.3s ease-in-out;
}
body main #hero a:hover {
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
body main #ready {
  padding: 5% 10%;
}
body main #ready .top {
  margin-bottom: 3%;
}
body main #ready .top .mini {
  width: 100%;
  text-align: center;
  color: #fa510f;
  font-weight: 700;
  font-size: 1.5vw;
  text-transform: capitalize;
  margin-bottom: 1%;
}
body main #ready .top .main {
  width: 100%;
  text-align: center;
  color: #101f3c;
  font-weight: 700;
  font-size: 1.5vw;
  text-transform: capitalize;
  margin-bottom: 2%;
}
body main #ready .top p {
  font-size: 1vw;
  color: #101f3c;
}
body main #ready .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main #ready .bottom img {
  width: 32%;
  border-radius: 0.3vw;
}/*# sourceMappingURL=index.css.map */